body {
    background: #fff;
}
a:link {
    color: #dd0000;
}
p.version {
    color: #777;
}
p {
    color: #000;
}
@media (prefers-color-scheme: dark) {
    body {
        background: rgb(28, 28, 30);
    }
    a:link {
        color: rgb(255, 59, 48);
    }
    p.version {
        color: #aaa;
    }
    p {
        color: #fff;
    }
}

body {
    font-family: Helvetica, sans-serif;
    line-height: 141%;
    color: #000;
    text-align: center;
    font-size: 16px;
}
#content {
    width: 300px;
    margin: auto;
}

a:link {
    text-decoration: none;
}

a[hreflang]:after {
    content:"[" attr(hreflang) "]";
    font-size:71%;
    margin-left:0.2em;
}

p {
    margin: 0;
    padding: 0px 0 16px 0;
}

p.version {
    font-size: 12px;
}

span.attribution {
    text-align:right;
    display:block;
    margin-top:0.5em;
}

span.attribution:before {
    content:"— ";
}

q {
    font-style: italic;
}
